@CHARSET "UTF-8";

* {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.errorMessage{
	color: red;
}

.debugMessage{
	color: blue;
	font-style: italic;
}


.searchTableBorder {
	border: 1px solid;
}